body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.app {
  max-width: 400px;
  margin: 30px auto;
}

h1 {
  text-align: center;
}

.subtitle {
  text-align: center;
  opacity: 0.7;
  margin-bottom: 20px;
}

.card {
  background: #020617;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
}

button {
  background: #22c55e;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.filtros {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.filtros button {
  background: #334155;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #1e293b;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.vencida {
  background: #7f1d1d;
}

li button {
  width: auto;
  background: #ef4444;
  padding: 5px 8px;
  font-size: 12px;
}
